<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="developers.pl">
    <title>DevAAC</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <style type="text/css">
        body {
            margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
        }
        footer {
            margin: 50px 0;
        }
    </style>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Moment.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <!-- Underscore.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js"></script>

    <!-- Showdown -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
</head>
<body ng-app="DevAAC">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">DevAAC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div ng-controller="NavigationController" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/players/online">Who is online?</a></li>
                    <li><a href="#/guilds">Guilds</a></li>
                    <li><a href="#/houses">Houses</a></li>
                    <li><a href="#/rules">Rules</a></li>
                    <li><a href="#/home">Contact</a></li>
                </ul>
                <ul ng-if="checkCookie()" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown">Welcome {{account.name}}!<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/account">My account</a></li>
                            <li><a href="#/account">My characters</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="Logout()" href="javascript://">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form ng-if="!checkCookie()" ng-submit="Login()" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input ng-model="login.username" name="username" required class="form-control" placeholder="Login" type="text">
                    </div>
                    <div class="form-group">
                        <input ng-model="login.password" name="password" required class="form-control" placeholder="Password" type="password" >
                    </div>
                    <button type="submit" id="loading-login-btn" data-loading-text="Logging in..." class="btn btn-success">Sign in</button>
                    <a class="btn btn-info" href="#/account/register">Sign up</a>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-8" id="view" ng-view></div>
            
            <div class="col-lg-4" ng-controller="WidgetController">
                <div class="well">
                    <h4>Player Search</h4>
                    <form ng-submit="PlayerSearch()">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <p class="bg-danger">{{searchMessage}}</p>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Top 5 players</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                    <th>Name</th>
                                    <th>Level</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in playersWidget">
                                        <td><a href="#/players/{{player.name}}">{{player.name}}</a></td>
                                        <td>{{player.level}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Server Info</h4>
                    <div ng-if="!infoPageStatus">
                        <h2>Loading...</h2>
                    </div>
                    <div ng-if="infoPageStatus">
                        <ul>
                            <li><b>IP:</b> {{servInfo.ip}}</li>
                            <li><b>Port:</b> {{servInfo.port}}</li>
                            <li><b>Online:</b> {{servInfo.online}}</li>
                            <li><b>Type:</b> {{servInfo.worldType}}</li>
                            <li><b>Accounts:</b> {{servInfo.accounts}}</li>
                            <li><b>Players:</b> {{servInfo.players}}</li>
                        </ul>
                    </div>
                </div>
                <!-- /well -->
            </div>
        </div>

        <hr>
        <footer ng-controller="globalFooter">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; developers.pl {{footerYear}}</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- Initiate Angular app, custom functions and config -->
    <script src="app.js"></script>
    <script src="sha1.js"></script>
    <!-- Add URL routing logic -->
    <script src="routes.js"></script>
    <!-- Classes, Models, Objects you use in controllers -->
    <script src="factories.js"></script>
    <!-- Controllers, self explanatory. 
    Avoid mixing it with stuff that should be in factories. -->
    <script src="controllers.js"></script>
    
</body>
</html>
