<!DOCTYPE html>
<html lang="en" ng-app="DevAAC">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="developers.pl">
    <title>DevAAC</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <style type="text/css">
        body {
            margin-top: 70px;
            background-color: #333;
            background-image: url(//i.imgur.com/4XIP7Ak.jpg);
        }
        .page-header {
            margin-top: 0;
        }
        .table-complex th {
            text-align: center;
        }
        .navbar-brand {
            color: #fff !important;
        }
        footer {
            margin: 50px 0;
        }
    </style>
    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.min.js"></script>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Moment.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <!-- Underscore.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <!-- Showdown -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
</head>
<body ng-controller="MainController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div ng-controller="HeaderController" class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-show="name" class="navbar-brand ng-hidden" href="#/">{{ name }}</a>
                <a ng-hide="name" class="navbar-brand" href="#/">DevAAC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div ng-controller="NavigationController" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:isActive('/about')}"><a href="#/about"><i class="glyphicon glyphicon-question-sign"></i> About</a></li>
                    <li ng-class="{active:isActive('/players/online')}"><a href="#/players/online"><i class="glyphicon glyphicon-eye-open"></i> Who is online?</a></li>
                    <li ng-class="{active:isActive('/guilds')}"><a href="#/guilds"><i class="glyphicon glyphicon-link"></i> Guilds</a></li>
                    <li ng-class="{active:isActive('/houses')}"><a href="#/houses"><i class="glyphicon glyphicon-home"></i> Houses</a></li>
                </ul>
                <ul ng-if="isLoggedIn()" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown">Welcome {{account.name}}!<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/account"><i class="glyphicon glyphicon-cog"></i> My account</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="Logout()" href="javascript://">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form ng-if="!isLoggedIn()" ng-submit="Login()" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input ng-model="form.name" class="form-control" placeholder="Account name" type="text" required>
                    </div>
                    <div class="form-group">
                        <input ng-model="form.password" class="form-control" placeholder="Password" type="password" required>
                    </div>
                    <button type="submit" id="loading-login-btn" data-loading-text="Logging in..." class="btn btn-success">Log in</button>
                    <a class="btn btn-info" href="#/account/register">Register</a>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-sm-9" ng-show="loadingView">TODO: LOADING</div>

            <div class="col-sm-9 well well-lg" id="view" ng-view></div>
            
            <div class="col-sm-3" ng-controller="WidgetController">
                <div class="well well-sm">
                    <a href="#/players/online"><h3 class="text-center"><i class="glyphicon glyphicon-user"></i> {{info.players_online_count}} / {{info.maxPlayers}} online</h3></a>
                </div>

                <div ng-show="highExperience.length">
                    <form ng-submit="PlayerSearch()">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search" required placeholder="Find Player...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <p class="bg-danger">{{searchMessage}}</p>
                    <!-- /input-group -->
                </div>

                <div ng-show="highExperience.length" class="well well-sm">
                    <h4 class="text-center">Top 5 players by level</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <th>Name</th>
                                    <th>Level</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in highExperience">
                                        <td>{{$index+1}}. <a href="#/players/{{player.name}}">{{player.name}}</a></td>
                                        <td>{{player.level}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="well well-sm">
                    <h4 class="text-center">Server Information</h4>
                    <div ng-show="!info.$resolved">
                        <h2>Loading...</h2>
                    </div>
                    <div ng-if="info.ip">
                        <table class="table table-striped table-responsive">
                            <tr><td>IP</td><td>{{info.ip}}</td></tr>
                            <tr><td>Port</td><td>{{info.loginProtocolPort}}</td></tr>
                            <tr><td>World Type:</td><td>{{info.worldType | uppercase}}</td></tr>
                            <tr><td colspan="2" class="text-center"><a class="btn btn-success" href="http://static.otland.net/ipchanger.exe"><i class="glyphicon glyphicon-download-alt"></i> Download IP Changer</a></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer ng-controller="FooterController">
            <div class="row">
                <div class="col-sm-12 well well-sm">
                    <p>{{ info.serverName }} <span ng-if="info.ownerName">by <a href="{{info.url}}">{{ info.ownerName }}</a></span> | <a href="https://github.com/DevelopersPL/DevAAC" target="_blank">DevAAC</a> &copy; {{ year }} by developers.pl</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- Initiate Angular app, custom functions and config -->
    <script src="DevAAC.js"></script>
    <script src="sha1.js"></script>
    <!-- Add URL routing logic -->
    <script src="routes.js"></script>
    <!-- Classes, Models, Objects you use in controllers -->
    <script src="factories.js"></script>
    <script src="controllers.js"></script>
</body>
</html>
