<div ng-if="!guild"><h1 class="page-header">Loading...</h1></div>
<div ng-if="guild">
    <h1 class="page-header">{{guild.name}}</h1>

    <blockquote ng-if="guild.motd">
        <p>{{guild.motd}}</p>
    </blockquote>

    <div class="panel panel-default">
        <div class="panel-heading">Guild Members</div>

        <table class="table table-striped" ng-show="players.length">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Level</th>
                <th>Vocation</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players">
                <td>player.Rank</td>
                <td>player.Name</td>
                <td>player.Level</td>
                <td>player.Vocation</td>
                <td>player.Status</td>
                <!--
                <td>{{ guild.name }}</td>
                <td><a href="#/players/{{ guild.ownerid }}">{{ guild.owner.name }}</a> ({{ guild.owner.level}})</td>
                <td>{{ guild.creationdata | date: fullDate }}</td>
                -->
            </tr>
            </tbody>
        </table>
    </div>
    <p>Guild was created: {{guild.created}}</p>
</div>