<div ng-if="!guild">
    <h1 class="page-header">Loading...</h1>
</div>

<div ng-if="guild">
    <h1 class="page-header">Guild: {{guild.name}}</h1>

    <blockquote ng-if="guild.motd">
        <p>{{guild.motd}}</p>
    </blockquote>

    <p>
        Guild was founded on: {{guild.created | moment: 'LLL'}}<br />
        Total level: {{guild.total_level}}<br />
        Average level: {{guild.average_level}}
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">Guild Members ({{guild.online_members}} of {{guild.members_count}} online)</div>

        <table class="table table-striped" ng-show="guild.members.length">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Level</th>
                <th>Vocation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in guild.members">
                <td><strong>{{ rank(player.membership.rank_id).name }} <span ng-show="player.membership.nick">({{ player.membership.nick }})</span> <span ng-show="player.id == guild.ownerid" class="label label-primary">Leader</span></strong></td>
                <td> <a href ng-href="/players/{{player.name}}">{{ player.name }}</a> <span ng-show="player.is_online" class="label label-success">Online</span></td>
                <td>{{ player.level }}</td>
                <td>{{ vocation(player.vocation).name }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Invited Players</div>

        <table class="table table-striped" ng-show="guild.members.length">
            <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Vocation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="inv in guild.invitations">
                <td> <a href ng-href="/players/{{ player(inv.player_id).name }}">{{ player(inv.player_id).name }}</a> <span ng-show="player(inv.player_id).is_online" class="label label-success">Online</span></td>
                <td>{{ player(inv.player_id).level }}</td>
                <td>{{ vocation(player(inv.player_id).vocation).name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
