<div>
    <h1 class="page-header">Houses</h1>

    <table class="table" ng-show="houses.length && loaded">
        <thead>
            <tr>
                <td>Name</td>
                <td>Town</td>
                <td>Size</td>
                <td>Rent</td>
                <td>Owner</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="house in houses">
                <td>{{ house.name }}</td>
                <td>{{ house.town_id }}</td>
                <td>{{ house.size }}</td>
                <td>{{ house.rent | currency }}</td>
                <td><a href="#/players/{{ player(house.owner).name }}">{{ player(house.owner).name }}</a> <span ng-if="player(house.owner)">({{player(house.owner).level}})</span></td>
            </tr>
        </tbody>
    </table>

    <p ng-show="!houses.length && loaded">
        There are no houses on this server :(
    </p>

    <p ng-hide="loaded">
        Loading...
    </p>
</div>