<div>
    <h1 class="page-header">Highscores</h1>

    <div>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="level"> Level
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="balance"> Money
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="maglevel"> Magic
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_fishing"> Fishing
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_shielding"> Shielding
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_dist"> Distance
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_sword"> Sword
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_club"> Club
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_axe"> Axe
        </label>
        <label class="radio-inline">
            <input ng-model="order" type="radio" name="sort" value="skill_fist"> Fist
        </label>
    </div>

    <table class="table table-striped" ng-show="players.length">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Vocation</th>
                <th>Level</th>
                <th>Selected Skill</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players">
                <td>{{$index+1}}</td>
                <td><a href ng-href="/players/{{ player.name }}">{{ player.name }}</a></td>
                <td>{{ vocation(player.vocation).name }}</td>
                <td>{{ player.level }}</td>
                <td>{{ player[order] | number }}</td>
            </tr>
        </tbody>
    </table>

    <p ng-show="!players.length && loaded">
        There are no players on this server.
    </p>

    <p ng-hide="loaded">
        Loading...
    </p>
</div>